<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dash.css">
    <title>Dashboard</title>
</head>
<body>
    <div id="Head">
    <div><img id="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBoRwu43u4DYEbIl9QM3Sajwl4XdXkWNmofuXHnwE0&s"></div>
    <div><h1 id="dash">Dashboard</h1></div>
    <div><img id="AC" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Ashoka_Chakra.svg/800px-Ashoka_Chakra.svg.png" alt="Image">
    <center><h3 id="time"></h3></center></div>
   </div>
    <div id="box">
        <span id="return"><a id="home" href="/logout">Logout</a></span><div class="containers1">
        <a href="/signup_update"><div class="items" id="i1"><img src="https://www.w3schools.com/howto/img_avatar.png" style="height: 25vh; width: 30vw;"><center><h2>Signup/Update</h2></center></div></a>
        <a href="/withdrawal"><div class="items" id="i2"><img src="https://www.gannett-cdn.com/-mm-/7aeec14176ecb3e18738d11f5f57bfe44c2b0d02/c=408-78-2999-1542/local/-/media/2016/07/15/USATODAY/USATODAY/636042049649805553-XXX-THORTON-CONEALED-GUNS-11213-82637750.JPG" style="height: 25vh; width: 30vw;"><center><h2>Withdrawal</h2></center></div></a>
    </div>
    <div class="containers2">
    <a href="/deposit"><div class="items" id="i3"><img src="https://fnenovation.eu/wp-content/uploads/2020/08/STI4002-1440x961.jpg" style="height: 25vh; width: 30vw;"><center><h2>Deposit</h2></center></div></a>
    <a href="/records"><div class="items" id="i4"><img src="http://009lab.vniims.ru/wp-content/uploads/2021/01/software-testing-company1.png" style="height: 25vh; width: 30vw;"><center><h2>View Records</h2></center></div></a>
</div></div>
<script>
    let time=document.getElementById("time")
    setInterval(()=> {
        let d=new Date()
        time.innerHTML=d.toLocaleTimeString()
    },1000)
</script>
</body>
<style>* {
    margin: 0;
    padding: 0;
}
#AC {
    height: 14vh;
    animation: rotation 5s linear infinite;
    width: 14vh;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
#logo {
    height: 17vh;
    width: 10vw;
    background: transparent;
}
#Head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    width: 100%;
}
#dash {
    display: grid;
    place-items: center;  
    height: 17vh;
    width: 80vw;
    font-size: 7vh;
    background-color: rgba(236, 239, 211, 0.911);
}
#box {
    height: 85vh;
    background-image: url("https://img.freepik.com/free-vector/indian-republic-day-tricolor-theme-watercolor-texture-background-vector_1055-11985.jpg?w=2000");
    background-size: cover;
}
.containers1 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
}
.containers2 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
}
.items {  
    /* border: 10px solid black; */
    background: white;
    margin-top: 5vh;
    height: 30vh;
    width: 30vw;
    overflow: hidden;
    color: black;
    /* opacity: 0.5; */
}
#return {
    display: flex;
    justify-content: right;
    height: 3vh;
    width: 100%;
}
#home {
    display: grid;
    place-items: center;
    width: 6vw;
    height: 5vh;
    background-color: grey;
    margin-right: 1vh;
    color: white;
}
.items:hover {
    opacity: 0.5;
} </style>
</html>